<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <title>회원가입</title>
</head>
<body>
<h1>회원 가입</h1>
<hr>

<form class="needs-validation form-horizontal" novalidate id="userSignUpForm" name="userSignUpForm" th:object="${userSignUpReqDto}" th:action="@{/user/sign-up}" method="POST" >
  <div>
<!--    <input type="text" name="email" th:value="${userDto.email}" placeholder="이메일을 입력해주세요.">-->
<!--    <span th:text="${valid_email}"></span>-->
    <span>test1</span>
  </div>

  <div>
<!--    <input type="text" name="nickname" th:value="${userDto.nickname}" placeholder="닉네임을 입력해주세요.">-->
<!--    <span th:text="${valid_nickname}"></span>-->
    <span>test2</span>
  </div>

  <div>
<!--    <input type="password" name="password" placeholder="비밀번호">-->
<!--    <span th:text="${valid_password}"></span>-->
    <span>test3</span>
  </div>

  <button>등록</button>
</form>
</body>
</html>