<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">

  <title>회원가입</title>
</head>
<body>
  <h1>회원 가입</h1>
  <hr>

  <form action="#" novalidate id="userSignUpForm" name="userSignUpForm" th:object="${userSignUpReqDto}" th:action="@{/user/sign-up}" method="POST">
    <table>

      <tr>
        <td>닉네임:</td>
        <td><input type="text" id="userSignUpnickName" name="nickName" th:field="*{nickName}" required /></td>
        <td th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}">닉네임</td>
      </tr>

      <tr>
        <td>전화번호:</td>
        <td><input type="text" id="userSignUpPhoneNumber" name="phoneNumber" th:field="*{phoneNumber}" /></td>
        <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">전화번호</td>
      </tr>

      <tr>
        <td>이메일:</td>
        <td><input type="text" id="userSignUpEmail" name="email" th:field="*{email}" /></td>
        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">이메일</td>
      </tr>

      <tr>
        <td>비밀번호:</td>
        <td><input type="text" id="userSignUpPassword" name="password" th:field="*{password}" /></td>
        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">비밀번호</td>
      </tr>

      <tr>
        <td><button type="submit">Submit</button></td>
      </tr>

    </table>
  </form>
</body>
</html>

<script th:inline="javascript">

  function signUp() {
    console.log("회원가입 버튼 클릭!");

    document.getElementById('userSignUpForm').submit();
  }

</script>